.cssclass{
    width:728px;
}

.check{
    visibility: hidden;
    margin: 0;
    width:0;
    height: 0;
    border:0;
}

.check1{
    visibility: visible;
    
}

.big{
    
    visibility: visible;
    height: 400px;
    width: 400px;
    
}
